/*
  make each pie piece a rectangle twice as high as it is wide.
  move the transform origin to the middle of the left side.
  Also ensure that overflow is set to hidden.
*/
@mixin pie($size) {

  .pie {
    position: absolute;
    width: $size / 2;
    height: $size;
    overflow: hidden;
    left: $size * 0.75;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
  }

  /*
    unless the piece represents more than 50% of the whole chart.
    then make it a square, and ensure the transform origin is
    back in the center.
    NOTE: since this is only ever a single piece, you could
    move this to a piece specific rule and remove the extra class
  */
  .pie.whole {
    width: $size;
    height: $size;
    left: $size / 4;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  /*
    this is the actual visible part of the pie.
    Give it the same dimensions as the regular piece.
    Use border radius make it a half circle.
    move transform origin to the middle of the right side.
    Push it out to the left of the containing box.
  */
  .pie:before {
    content: "";
    position: absolute;
    width: $size / 2;
    height: $size;
    left: -($size / 2);
    border-radius: ($size / 2) 0 0 ($size / 2);
    -moz-transform-origin:right center;
    -ms-transform-origin:right center;
    -o-transform-origin:right center;
    -webkit-transform-origin:right center;
    transform-origin:right center;
  }

  /* if it's part of a whole piece, bring it back into the square */
  .pie.whole:before {
    left: 0px;
  }

  /*
    whole pieces will also need a second semicircle, pointed in the
    opposite direction to hide the first part behind.
  */
  .pie.whole:after {
    content: "";
    position: absolute;
    width: $size / 2;
    height: $size;
    left: $size / 2;
    border-radius: 0 100px 100px 0;
  }

}

/*
  add colour to each piece.
*/
  .pie:BEFORE,
  .pie:AFTER {
    background-color:blue;
  }
  .pie.whole:AFTER,
  .pie.whole:BEFORE {
    background-color:orange;
  }

/*
  and rotate the amount of the pie that's showing.
  NOTE: add an extra degree to all but the final piece,
  to fill in unsightly gaps.
*/

@for $i from 1 through 30 {
  $percent: $i * 12;

  .pie[data-fill="#{$percent}"]:before {
    -moz-transform: rotate(#{$percent}deg); /* Firefox */
    -ms-transform: rotate(#{$percent}deg); /* IE */
    -webkit-transform: rotate(#{$percent}deg); /* Safari and Chrome */
    transform: rotate(#{$percent}deg);
  }
}

/*
NOTE: you could also apply custom classes (i.e. .s0 .v30)
but if the CSS3 attr() function proposal ever gets implemented,
then all the above custom piece rules could be replaced with
the following:

.pie[data-start] {
   transform:rotate(attr(data-start,deg,0);
}
.pie[data-value]:BEFORE {
   transform:rotate(attr(data-value,deg,0);
}
*/

@include pie(24px);